.new-cartitem {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }
  
  .new-cartitem button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid white;
    background-color:darkgray;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-cartitem button:hover,
  .new-cartitem button:active {
    background-color:cadetblue;
    border-color: black;
  }
